@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital@1&display=swap');


* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	-ms-overflow-style: none;
}
body {
  margin: 0;
  font-family: 'Noto Serif', serif;
  background: #F4F4F4;
}
.App {
	position: relative;
	min-height: 100vh;
  }
  .content-wrap {
	padding-bottom: 200px;
  }

::-webkit-scrollbar {
	display: none;
}

a{
	text-decoration: none;
}

button:hover{
	cursor: pointer;
}
